In [1]:
import pandas as pd

In [2]:
COMP_A_PATH = '../raw_data/dados_empresaA.json'

In [3]:
comp_a_df = pd.read_json(COMP_A_PATH)
comp_a_df.head()

,Nome do Produto,Categoria do Produto,Preço do Produto (R$),Quantidade em Estoque,Filial
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8
2,Base líquida,Roupas,75.02,34,Filial 8
3,Base líquida,Roupas,44.94,90,Filial 10
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7

In [4]:
comp_a_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3123 entries, 0 to 3122
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nome do Produto        3123 non-null   object
 1   Categoria do Produto   3123 non-null   object
 2   Preço do Produto (R$)  3123 non-null   float64
 3   Quantidade em Estoque  3123 non-null   int64
 4   Filial                 3123 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 122.1+ KB

In [5]:
comp_a_df.describe()

       Preço do Produto (R$)  Quantidade em Estoque
count            3123.000000            3123.000000
mean               50.608194              49.775216
std                28.281982              28.703549
min                 1.030000               1.000000
25%                26.385000              25.000000
50%                50.670000              50.000000
75%                75.220000              75.000000
max                99.980000             100.000000