In [19]:
import pandas as pd

In [20]:
data = pd.read_csv('../processed_data/complete_data.csv')
data.head()

,Nome do produto,Categoria,Preço (R$),Quantidade,Filial,Data da venda
0,Blush em pó,Eletrodomésticos,79.41,7,Filial 7,NaN
1,Lápis de sobrancelha,Eletrodomésticos,85.47,78,Filial 8,NaN
2,Base líquida,Roupas,75.02,34,Filial 8,NaN
3,Base líquida,Roupas,44.94,90,Filial 10,NaN
4,Lápis de sobrancelha,Alimentos,58.63,91,Filial 7,NaN

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4446 entries, 0 to 4445
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nome do produto  4446 non-null   object
 1   Categoria        4446 non-null   object
 2   Preço (R$)       4446 non-null   float64
 3   Quantidade       4446 non-null   int64
 4   Filial           4446 non-null   object
 5   Data da venda    0 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 208.5+ KB

In [22]:
data.describe()

        Preço (R$)   Quantidade  Data da venda
count  4446.000000  4446.000000            0.0
mean     50.745983    50.238192            NaN
std      28.430018    28.826141            NaN
min       1.030000     1.000000            NaN
25%      26.315000    25.000000            NaN
50%      50.965000    50.000000            NaN
75%      75.337500    76.000000            NaN
max      99.980000   100.000000            NaN