In [1]:
import pandas as pd

In [2]:
COMP_B_PATH = '../raw_data/dados_empresaB.csv'

In [ ]:
comp_b_df = pd.read_csv(COMP_B_PATH)
comp_b_df.head()

,Nome do Item,Classificação do Produto,Valor em Reais (R$),Quantidade em Estoque,Nome da Loja,Data da Venda
0,Lápis de sobrancelha,Roupas,55.17,62,Filial 1,2023-04-13 18:58:06.794203
1,Batom matte,Eletrônicos,74.15,48,Filial 9,2023-06-03 18:58:06.794203
2,Corretivo,Roupas,54.86,36,Filial 5,2023-06-08 18:58:06.794203
3,Delineador líquido,Roupas,91.29,1,Filial 8,2023-02-27 18:58:06.794203
4,Batom líquido,Roupas,44.65,52,Filial 2,2022-09-05 18:58:06.794203

In [4]:
comp_b_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1323 entries, 0 to 1322
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nome do Item              1323 non-null   object
 1   Classificação do Produto  1323 non-null   object
 2   Valor em Reais (R$)       1323 non-null   float64
 3   Quantidade em Estoque     1323 non-null   int64
 4   Nome da Loja              1323 non-null   object
 5   Data da Venda             1323 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 62.1+ KB

In [5]:
comp_b_df.describe()

       Valor em Reais (R$)  Quantidade em Estoque
count          1323.000000            1323.000000
mean             51.071240              51.331066
std              28.784597              29.095167
min               1.080000               1.000000
25%              26.095000              25.000000
50%              51.780000              52.000000
75%              75.610000              78.000000
max              99.980000             100.000000